/* Colores */
$navAColour: #0d4bd1;
$sectionSpanColour: #c5ccd4;

/* Card vars */
$cardBg: #F3F3F3;
$btnColour: #2294f1;
$btnBg: #2294f1;

/* Rog Card */
$cardBgRog: #312a2a52;
$btnColourRog: #e02323;
$btnBgRog: #e02323;