/* Imports */
@import 'variables';
@import 'queries';
@import 'mixins';
@import 'queries';

/* Fuente y tipografia */

@font-face{
    font-family: 'ASUS Sans';
    src: url(../assets/font/LT\ Asus\ Light\ 300.ttf);
    font-weight: bold;
    font-weight: 300;
}

@font-face{
    font-family: 'ASUS Bolder';
    src: url(../assets/font/LT\ Asus\ Bold\ 700.ttf);
    font-weight: 700;
}

@font-face{
    font-family: 'Asus ROG';
    src: url(../assets/font/asusrog_regular.ttf);
}

@font-face{
    font-family: 'ASUS Sans Serif';
    src: url(../assets/font/Zebulon.otf);
}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* Clases y estilos */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo{
    @include width(100px);
}

.header__logo{
    @include padding-left(10px);
}

.header__link__a{
    color: $navAColour;
    @include font-size(20px);
}

.spacing-3{
    @include padding-left(70px);
}

.icon-size{
    @include font-size(40px);
    @include padding-right(10px);
}

.main__hero__bg{
    background: rgb(218, 217, 235);
    background: linear-gradient(90deg, rgba(218, 217, 235, 1) 0%, rgba(165, 165, 179, 1) 88%, rgba(162, 168, 170, 1) 100%);
}



.bg__about{
    @include height(80vh);
    background: #000000;
    background: -webkit-linear-gradient(to top,hsla(0, 0%, 26%, 0.575), hsla(0, 0%, 0%, 0.438)), url(../assets/img/aboutus.jpg);  
    background: linear-gradient(to top, hsla(0, 0%, 26%, 0.575), hsla(0, 0%, 0%, 0.438)), url(../assets/img/aboutus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

section{
    
    span{
        background-color: $sectionSpanColour;
    }
    
    .texto-justificado{
        text-align: justify;
    }
    
    .size-20{
        @include font-size(20px);
    }

}

// Variables
$primary-color: white;
$font-size-large: 2rem;
$transition-duration: 1s;
$video-height: 100vh;

// Mixin para centrar elementos
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Mixin para animaciones
@mixin fade-in($duration) {
    opacity: 0;
    transition: opacity $duration ease-in-out;
}

// Estilos para el video
video {
    width: 100%;
    height: 100%;
    
}

// Texto sobre el video
.video-text {
    font-family: 'ASUS Bolder';
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
    a{
        text-decoration: none;
        position: absolute;
        left: 50%;
    }
}

#nosotrosAsus{
    
    .card{
        @include height(90vh);
    }

    .box-1{
        background-image: url(../assets/img/box1.png);
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
    }

    .box-2{
        background-image: url(../assets/img/box2.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
    }
}

#hero{

    h1{
        animation: fadeIn;
        animation-duration: 4s;
    }

    p{
        animation: fadeIn;
        animation-duration: 10s;
    }
}

.font-asus-title{
    font-family: 'ASUS Sans Serif';
    @include font-size(100px);
    color: rgba(36, 33, 243, 0.904);
}

.text-subtitle-color{
    color: rgba(36, 33, 243, 0.904);
}

.why__us{
    font-family: 'ASUS Sans';
    .box{
        padding: 40px;
        box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
        background: #fff;
        transition: 0.4s;
        height: 100%;

        .icon{
            float: left;

            i{
                color: #444;
                font-size: 64px;
                transition: 0.5s;
                line-height: 0;
                margin-top: 34px;
            }

            i::before{
                background: #0c2e8a;
                background: linear-gradient(45deg, #5080d8 0%, #a3b6eb 100%);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        h3{
            @include margin-left(100px);
            font-weight: 700;
            margin-bottom: 15px;
            @include font-size(30px);

            a{
                text-decoration: none;
                color: #444;
            }
        }

        p{
            @include font-size(20px);
            @include margin-left(100px);
            @include margin-bottom(0);
            line-height: 24px;
        }
    }

    .box:hover{
        box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
    }
}

.main__productos__title {
    background: #373532;
    background: linear-gradient(to right, #373532 32%, #0D4BD1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;

}

.main__products__subtitle{
    color: #11193e; 
    background-image: linear-gradient(45deg, #11193e 30%, #2a347a 44%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-size: 80px;
}

.catalogo {
    a{
        text-decoration: none;
    }
}

.main__section__spacing{
    @include padding-top(20px);
}

.main__font__number{
    @include font-size(20px);
}

.custom-list {
    list-style: none;
    @include padding(0);

    li{
        @include padding-left(30px);
        @include margin-bottom(10px);
    }
}

.check-icon{
    @include font-size(37px);
    color: $navAColour;
}

.main__nuestros__productos{
    @include height(100vh);
}

.card__products{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ASUS Sans';
}

.custom__card{
    @include width(320px);
    @include height(480px);
    border-radius: 8px;
    background-color: $cardBg;
    box-shadow: 5px 15px 22px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    @include margin(5px);

    h3{
        color: #F3F3F3
    }
    
    p{
        color: #F3F3F3
    }

    .card__img{
        @include padding(16px);

        img{
            width: 100%;
            transition: 0.3s;
        }
    }

    .card__desc{
        position: absolute;
        text-align: center;
        @include bottom(0);
        opacity: 0;
        @include width(100%);
        @include padding(16px);
        background-color: $btnBg;
        transition: 0.3s;
    }
}

.custom__card:hover{
    .card__img{
        img{
            transform: scale(1.1);
            transform: translateY(-80px);
        }
    }

    .card__desc{
        opacity: 1;
        transform: translateY(-40px);
    }

    .product__btn{
        background-color: $cardBg;
        color: $btnColour;
        border: 1px solid $btnColour;
        transform: translateY(90px);
    }
}

.product__btn{
    background: $btnColour;
    color: #F3F3F3;
    border-radius: 35px;
    @include padding(10px 45px);
    text-decoration: none;
    transition: 0.3s ease;
    font-weight: bold;
}

#rog{
    min-height: 100vh;
    @include width(100%);
    background-color: #000;
    background-image: url(../assets/img/rogbg.png);
    background-repeat: no-repeat;
    object-fit: cover;
    h2{
        font-family: 'Asus ROG';
        color: #e02323;
    }

    .custom__card{
        @include width(320px);
        @include height(480px);
        border-radius: 8px;
        background-color: $cardBgRog;
        backdrop-filter: blur(1px);
        box-shadow: 5px 15px 22px rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        @include margin(5px);
    
        h3{
            color: #000;
        }
        
        p{
            color: #000;
        }
    
        .card__img{
            @include padding(16px);
    
            img{
                width: 100%;
                transition: 0.3s;
            }
        }
    
        .card__desc{
            position: absolute;
            text-align: center;
            @include bottom(0);
            opacity: 0;
            @include width(100%);
            @include padding(16px);
            background-color: $btnColourRog;
            transition: 0.3s;
        }
    }
    
    .custom__card:hover{
        .card__img{
            img{
                transform: scale(1.1);
                transform: translateY(-120px);
            }
        }
    
        .card__desc{
            opacity: 1;
            transform: translateY(-40px);
        }
    
        .product__btn{
            background-color: $btnColourRog;
            color: #000;
            border: 1px solid $btnColourRog;
            transform: translateY(50px);
        }
    }

    .product__btn{
        background: $btnColourRog;
        color: #000;
        border-radius: 35px;
        @include padding(10px 45px);
        text-decoration: none;
        transition: 0.3s ease;
        font-weight: bold;
    }
}

.iframe-container {
    position: relative;
    @include width(100%);
    @include padding-bottom(56.25%);
    @include height (0);
    overflow: hidden;

    iframe{
        position: absolute;
        @include top (0);
        @include left (0);
        @include width (100%);
        @include height (100%);
        border: 0;
    }
}

.c-item{
    @include height(90vh);
}

.c-img{
    @include height(100%);
    object-fit: cover;
}

.font-asus{
    font-family: 'ASUS Sans';
    font-weight: 400;
}

textarea{
    resize: none;
}

footer {
    @include padding (20px);
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul{
        list-style: none;
        display: flex;
    }
}

